Options -Indexes
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Sadece resim dosyalarına erişime izin ver
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
